<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="includes/head.html"></head>
<body>

	<!-- Start Container -->
	<div class="container">

		<div class="row justify-content-md-center mt-4 pt-4">
			<div class="col-4">
				<form class="form-signin" method="POST" action="#"
					th:action="@{/login}" th:object="${user}">
					<h2 class="form-signin-heading">Please sign in</h2>
					<p>
						<label for="username" class="sr-only">Username</label> <input
							type="text" th:field="*{username}" class="form-control"
							placeholder="Username" required autofocus>
					</p>
					<p>
						<label for="password" class="sr-only">Password</label> <input
							type="password" th:field="*{password}" class="form-control"
							placeholder="Password" required>
					</p>

					<button class="btn btn-sm btn-primary btn-block" type="submit">Sign
						in</button>

				</form>
			</div>
		</div>

		<div class="row justify-content-md-center mt-2">
			<div class="col-1">
				<a th:href="@{/register}" class="float-left">Register</a>
			</div>
			<div class="col-3">
				<a th:href="@{/forgotten-password}" class="float-right">Forgot
					your password ?</a>
			</div>
		</div>

	</div>
	<!-- End Container -->

</body>
</html>