<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="includes/head.html"></head>
<body>

	<!-- Start Container -->
	<div class="container">

		<div class="row justify-content-md-center mt-5 pt-5">
			<div class="col-4">
				<form class="form-signin" method="POST" action="#"
					th:action="@{/register}" th:object="${user}">
					<h2 class="form-signin-heading">Register</h2>

					<p>
						<label for="username" class="sr-only">Email</label> <input
							type="text" th:field="*{username}" class="form-control"
							placeholder="Email" required autofocus> <label
							th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
							class="alert alert-danger">Email Error</label>
					</p>

					<p>
						<label for="firstName" class="sr-only">First Name</label> <input
							type="text" th:field="*{firstName}" class="form-control"
							placeholder="First Name" required> <label
							th:if="${#fields.hasErrors('firstName')}"
							th:errors="*{firstName}" class="alert alert-danger">First
							Name Error</label>
					</p>

					<p>
						<label for="lastName" class="sr-only">Last Name</label> <input
							type="text" th:field="*{lastName}" class="form-control"
							placeholder="Last Name" required> <label
							th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
							class="alert alert-danger">Last Name Error</label>
					</p>
<!-- 
					<p>
						<label for="password" class="sr-only">Password</label> <input
							type="password" th:field="*{password}" class="form-control"
							placeholder="Password" required> <label
							th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
							class="alert alert-danger">Password Error</label>
					</p>

					<p>
						<label for="passwordConfirm" class="sr-only">Confirm
							Password</label> <input type="password" th:field="*{passwordConfirm}"
							class="form-control" placeholder="Password" required> <label
							th:if="${#fields.hasErrors('passwordConfirm')}"
							th:errors="*{passwordConfirm}" class="alert alert-danger">PasswordConfirm
							Error</label>
					</p>
-->
					<p>
						<input type="checkbox" checked required> <label
							for="termsOfUse">Accept Terms of Use</label>
					</p>

					<button class="btn btn-sm btn-success btn-block" type="submit">Register</button>

				</form>
			</div>
		</div>

		<div class="row justify-content-md-center mt-2">
			<div class="col-1">
				<a th:href="@{/login}" class="float-left">Already have account?</a>
			</div>
			<div class="col-3">
				<a th:href="@{/forgotten-password}" class="float-right">Forgot
					your password ?</a>
			</div>
		</div>

	</div>
	<!-- End Container -->

</body>
</html>